<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<Property name="log.root" value="logs/sample" />
	<Property name="log.project" value="sample-web" />
	<Property name="pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100}[%line] - %msg%n" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!--错误日志 -->
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.root}/${log.project}/_ERROR.txt</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.root}/${log.project}/%d{yyyy-MM-dd}/_ERROR-%i.txt
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!--文件日志 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.root}/${log.project}/log.txt</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.root}/${log.project}/%d{yyyy-MM-dd}/log-%i.txt
			</FileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>20MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!-- 日志过滤 -->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="java.sql">
		<level value="INFO" />
	</logger>
	<logger name="org.jdbcdslog">
		<level value="INFO" />
	</logger>
	<logger name="org.apache">
		<level value="INFO" />
	</logger>
	<logger name="org.mybatis">
		<level value="INFO" />
	</logger>
	<logger name="org.quartz">
		<level value="INFO" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="INFO" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>